{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="mx-auto alert alert-primary rounded-sm" id="text-black">
    <h1 id="center">
        <i class="far fa-bookmark"></i>
        AudioBook Reader
    </h1>
</div>

<div class="mx-auto" style="width: 390px; margin-top: 150px; margin-left: 50%;">

    <h4 id="audio-select">
        <strong>Select the PDF File to Hear!</strong>
    </h4>
    <form 
        action="" 
        method="post" 
        enctype="multipart/form-data"
    >
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="custom-file">
                {{ form.file_field }}
                <label class="custom-file-label" for="inputGroupFile03">
                    Choose file
                </label>
            </div>
        </div>
        <input type="submit" value="Hear it!" class="btn btn-primary" style="width: 150px; margin-left: 120px;" /> 
    </form>
    <br />

    {% if file %}
        <audio
            controls
            currentTime

            id="converted-player"
            style="margin-top: 20%; margin-left: 10%;"
        >
            <source 
                src="{% static 'pdf.mp3' %}"
                type="audio/mp3"
            >
            Your browser does not support the <code>audio</code> element.
        </audio>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
<script>
    let form_fields = document.getElementsByTagName('input');

    form_fields[1].className += " custom-file-input";
    form_fields[1].id += " inputGroupFile03";
    form_fields[1].removeAttribute("required");
</script>

<script src="https://kit.fontawesome.com/eae5c9fb2b.js" crossorigin="anonymous"></script>
{% endblock script %}